<div class="splash">
    <div class="splash-first">
        <h1 class="splash-first-title">Budget App</h1>
    </div>
    <div class="splash-second">
        <p class="splash-second-link"><%= link_to "LOG IN" ,  groups_path	%></p>
        <p class="splash-third-link"><%= link_to "SIGN UP" , new_user_registration_path %></p>
    </div>
</div>